extends layout

block content
  h1= title
  p Welcome to #{title}
  - if(error)
    div.alert-error #{error}
  p Please search for a song
  div
    form(action="/search", method="post")
        div.control-group.input-append
            input(type="text", name="song")
            label.add-on(for="song") Keywords
        button(type="submit") Search
    p Upload a song
    form(id="uploadForm" action="/upload", enctype="multipart/form-data", method="post")
        div.control-group.input-append
            input(type="file", id="userSongInput" name="userSong")
            button(type="submit") Upload
    span(id="status")
