doctype html
html
  head
    title= title
    script(src='/libs/jquery/jquery.min.js')
    script(src='/scripts/jquery.form.js')
    script(src='/scripts/upload.js')
    link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
