body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}

.bold {
	font-weight: bold;
}
  .courier {
	font-family: "Courier New", Courier, monospace;
}
  red {
	color: #FF0000;
}
  .arial {
	font-family: Arial, Helvetica, sans-serif;
}
  green {
	color: #090;
}
  .green {
	color: #090;
}
  red {
	color: #F00;
}
  .red {
	color: #F00;
}
  .auto-style21 {font-size: medium;
}
